/*
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/

body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: black;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  height: auto;
  padding: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem) clamp(1.25rem, 0rem + 3.333vw, 3rem);
}
h2{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul{
  margin: 0;
  padding: 0;
}
p{
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  line-height: 1.5;
  margin: 0;
}
li{
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  line-height: 1.5;
}
button{
  width: fit-content;
  padding: 16px 32px;
  background-color: #e7d9b6;
  color: #0a152e;
  font-weight: 800;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 32px;
  box-shadow: 0 0 8px rgb(66, 65, 65);
  transition: all 0.3s ease; /* Add smooth transition */
}
button:hover {
  transform: scale(1.05); /* Grows by 5% */
  background-color: #d4c698; /* Slightly darker shade */
  box-shadow: 0 4px 12px rgb(66, 65, 65); /* Optionally enhance shadow on hover */
}

/* Header */

header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.07);
}
header .container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  color: #e4e1d5;
}
header span{
  font-family: "Tangerine", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}
header ul{
  list-style: none;
  display: flex;
  gap: 16px;
}
header ul li a{
  text-decoration: none;
  color: #e4e1d5;
  font-weight: 400;
  font-style: normal;
  position: relative;
  /* font-size: 2rem; */
}
a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e7d9b6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

/* Banner */

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: -80px 0 0 0;
  text-align: center;
  background-image: url(../carreira-sem-fronteiras/images/Banner-principal.png);
  background-size: cover;
  background-position: center;

}
@media (max-width: 768px) {
  .hero{
    background-position: left;
  }
  
}
h1{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(5rem, 1.429rem + 9.524vw, 9rem);
  font-weight: 700;
  margin: 0;
  color: #e4e1d5;
  text-shadow: 0 0 8px rgb(66, 65, 65);
}
.hero h2{
  font-size: clamp(0.9rem, 0.293rem + 1.619vw, 1.75rem);
  margin: -30px 0 0 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.28rem;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #21468a; */
}
@media (max-width: 768px) {
  .hero h2{
    margin-top: 10px;
  }
  
}
.hero .container{
  align-items: flex-start;
}
.caixa{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}
.subtitulo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .subtitulo{
    margin-top: 50px;
  }
  
}
.subtitulo h3{
  font-size: clamp(1.5rem, 0.429rem + 2.381vw, 2.5rem);
  font-weight: 300;
  text-align: left;
  margin: 0;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitulo h3 span{
  font-weight: 600;
  color: #21468a;
}
.subtitulo h4{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem);
  text-align: left;
  margin: 0 0 0 20px;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aspas{
  width: 100px;
  height: 100px;
  background-image: url(images/aspas2.svg);
  margin: 0 0 0 -20px;
  object-fit: cover;
  background-position: center;
}

/* Pitch Video */

.pitch-video{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
}
.pitch-video video{
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Bloco 1 — Abertura */

.carreira{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: #21468a; */
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  color: white;
}
.carreira .container{
  align-items: center;
}
.conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  /* margin: 0 auto; */
}
.conteudo > h2{
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  background: linear-gradient(90deg,rgba(228, 225, 213, 1) 20%,rgba(231, 217, 182, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
@media (max-width: 768px) {
  .conteudo{
    width: 100%;
  }
  
}

/* Bloco 2 — Conexão com a Dor */

.para-quem{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: white;
  color: black; */
}
.para-quem p{
  margin-bottom: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem);
}
.para-quem ul{
  list-style: none;
}
.para-quem li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  /* font-size: 1.2rem; */
}

/* Bloco 3 — A Jornada */

.transformacao{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Bloco 4 — Entregas */

.beneficios{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: white;
  color: black; */
}
.beneficios .container{
  align-items: center;
  padding: 0;
}
.beneficios ul{
  list-style: none;
}
.beneficios li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

/* Bloco 4 alternativo */
.organizer{
  display: flex;

  width: 100%;
  height: auto;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 375px;
  height: 100px;
  /* padding: 20px; */
  border: 0px solid #21468a;
  /* border-radius: 10px; */
  
}
.card img{
  width: 60px;
  height: 60px;
  margin: 0 20px 0 0;
}
.card h3{
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.card p{
  font-size: 1.25rem;
  margin: 0;
}
.block{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 50%;
  height: 400px;
  flex-wrap: wrap;
  
}

/* Bloco 5 — Conteúdo Programático  */

.aulas{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.aulas .container{
  align-items: center;
}
.aulas-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
}
.aulas-lista div{
  min-width: 40%;
}
.bloco1{
  display: flex;
  justify-content: flex-end;
}
.bloco2{
  display: flex;
}
.aulas ul{
  list-style: none;
  list-style-position: outside; 
}
.aulas li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  /* font-size: 1.2rem; */
}
.aulas li img{
  margin: 0;
  width: 20px;
  height: 20px;
}
.aulas .cartao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 30px;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  border-radius: 10px;
  color: white;
  margin: 50px 0 0 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.aulas .cartao > img{
  width: 80px;
  height: 80px;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  .aulas .cartao > img{
    margin: 10px 0;
  }
}
.cartao::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.cartao:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.cartao:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
@media (max-width: 768px) {
  .bloco1, .bloco2{
    justify-content: flex-start;
    width: 100%;
  }
  .aulas .cartao{
    padding: 10px;
  }
  .aulas-lista{
    gap: 0px;
  }
}

/* Bloco 6 — Quem Conduz */

.quem-conduz{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  color: white;
}
@media (max-width: 768px) {
  .quem-conduz{
    flex-wrap: wrap;
    height: auto;
  }
}
.texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0 clamp(1rem, -7.214rem + 21.905vw, 10.5rem);
}
.texto span{
  display: inline-block;
  background-color: white;
  height: 2px;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .texto{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.texto p{
  font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
  /* text-align: center; */
}
.foto{
  display: flex;
  width: 60%;
  height: 100%;
}
@media (max-width: 768px) {
  .foto{
    width: 100%;
    height: auto;
  }
}
.foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Bloco 7 — Método */

.metodo{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Bloco 8 — Como Funciona */

.informacoes{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: white;
  color: black; */
}
.cartoes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 0.286rem + 1.905vw, 2rem);
  width: 100%;
  height: auto;
  margin: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem) 0 0 0;
}
.informacoes .cartao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 16px;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  border-radius: 10px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.cartao img{
    width: 60px;
    height: 60px;
    margin: 0 0 16px 0;
}
.cartao h3{
  margin: 0 0 10px 0;
}
.cartao p{
  margin: 0;
}

/* Bloco 9 — Chamada Emocional */

.chamada-emocional{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Bloco 10 — Call to Action */

.cta-final{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  color: white;
}
.cta-final h2{
  background: linear-gradient(90deg,rgba(228, 225, 213, 1) 20%,rgba(231, 217, 182, 1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4rem;
}
.cta-final .container{
  flex-direction: column;
  align-items: center;
  width: 60%;
  /* text-align: center; */
}
@media (max-width: 768px) {
  .cta-final .container{
    width: 100%;
  }
  
}
.cta-final button{
  margin-top: 50px;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg,rgba(16, 36, 81, 1) 20%, rgba(33, 70, 138, 1) 80%);
  width: 100%;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  border-top: #e7d9b6 1px solid;
}
footer .container{
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
footer p{
  font-size: 1rem;
  margin: 20px 0;
  color: white;
}