/*
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/

body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0a152e;
  color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  height: auto;
  padding: 100px clamp(16px, 5vw, 48px);
}
h2{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: #e7d9b6;
}
ul{
  margin: 0;
  padding: 0;
}
p{
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}
li{
  font-size: 1.25rem;
  line-height: 1.5;
}
button{
  width: fit-content;
  padding: 16px 32px;
  background-color: #e7d9b6;
  color: #0a152e;
  font-weight: 800;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 32px;
}

/* Header */

header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
header span{
  font-family: "Tangerine", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}
header ul{
  list-style: none;
  display: flex;
  gap: 16px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-family: "Tangerine", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

/* Banner */

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: -80px 0 0 0;
  text-align: center;
  background-image: url(../carreira-sem-fronteiras/images/Carreira\ Sem\ Fronteiras\ -\ ID\ \(2\).png);
  background-size: cover;
  background-position: center;
}
h1{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(5rem, 1.429rem + 9.524vw, 8rem);
  font-weight: 700;
  margin: 0;
  color: #e7d9b6;
}
.hero h2{
  font-size: clamp(0.9rem, 0.293rem + 1.619vw, 1.3rem);
  margin: -30px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #e7d9b6;
}
/* .hero .container{

} */
.caixa{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}
.subtitulo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 100px;
}
.subtitulo h3{
  font-size: clamp(1.5rem, 0.429rem + 2.381vw, 2.5rem);
  font-weight: 300;
  text-align: left;
  margin: 0;
}
.subtitulo h3 span{
  font-weight: 600;
}
.subtitulo h4{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: left;
  margin: 0 0 0 20px;
  color: #e7d9b6;
}

/* Bloco 1 — Abertura */

.carreira{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: #21468a; */
}
.conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.carreira button{
  width: fit-content;
  padding: 16px 32px;
  background-color: #e7d9b6;
  color: #0a152e;
  font-weight: 800;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 32px;
}
.carreira p{
  font-family: "Tangerine", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

/* Bloco 2 — Conexão com a Dor */

.para-quem{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}
.para-quem ul{
  list-style: none;
}
.para-quem li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  /* font-size: 1.2rem; */
}

/* Bloco 3 — A Jornada */

.transformacao{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Bloco 4 — Entregas */

.beneficios{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}
.beneficios .container{
  align-items: center;
}
.beneficios ul{
  list-style: none;
}
.beneficios li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

/* Bloco 5 — Conteúdo Programático  */

.aulas{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.aulas .container{
  align-items: center;
}
.aulas-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
}
.aulas-lista div{
  min-width: 40%;
}
.bloco1{
  display: flex;
  justify-content: flex-end;
}
.bloco2{
  display: flex;
}
.aulas ul{
  list-style: none;
  list-style-position: outside; 
}
.aulas li{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  /* font-size: 1.2rem; */
}
.aulas li img{
  margin: 0;
  width: 20px;
  height: 20px;
}
.aulas .cartao{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  padding: 30px 16px;
  background-color: #21468a;
  border-radius: 10px;
  color: white;
  margin: 50px 0 0 0;
}
.aulas .cartao > img{
  width: 80px;
  height: 80px;
  margin: 0 0 40px 0;
}

/* Bloco 6 — Quem Conduz */

.quem-conduz{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}

/* Bloco 7 — Método */

.metodo{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Bloco 8 — Como Funciona */

.informacoes{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}
.cartoes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  height: auto;
  margin: 48px 0;
}
.cartao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 16px;
  background-color: #21468a;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.cartao img{
    width: 60px;
    height: 60px;
    margin: 0 0 16px 0;
}
.cartao h3{
  margin: 0 0 10px 0;
}
.cartao p{
  margin: 0;
}

/* Bloco 9 — Chamada Emocional */

.chamada-emocional{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.chamada-emocional .container{
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Bloco 10 — Call to Action */

.cta-final{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}
.cta-final .container{
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
footer .container{
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
footer p{
  font-size: 1rem;
  margin: 20px 0;
}